<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Quiz Tests</title>
</head>
<body>
<div th:include="adminIndex :: admin-nav"></div>
</br>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Questions</th>
        <th>Answers</th>
        <th>Evaluation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quizTest : ${quizTests}">
        <td th:text="${quizTest.title}"></td>

        <td>
            <ol>
                <li th:each="questionAnswer : ${quizTest.questionAnswers}">
                    <span th:text="${questionAnswer.question.text}"></span>
                </li>
            </ol>
        </td>
        <td>
            <ol>
                <li th:each="questionAnswer : ${quizTest.questionAnswers}">
                    <span th:text="${questionAnswer.questionAnswer}"></span>
                </li>
            </ol>
        </td>

        <td th:text="${#numbers.formatDecimal(quizTest.evaluation, 2, 'COMMA', 2, 'POINT')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>